body {
    background-color: honeydew;
}

header {
    font-weight: bolder;
    color: white;
    font-size: xx-large;
    text-align: center;
    padding: 20px;
    padding-right: 40px;
    background-color: #4C4949;
}

#navigate {
    position: sticky;
    top: 0%;
    z-index: 1;
}

.menu {
    margin: 0%;
    background-color: rgb(0, 0, 0, 0.5);
}

.menu li {
    padding: 10px;
    display: inline-block;
}

.menu li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.menu li:hover {
    background-color: rgba(0, 0, 0, 0.7);
    ;
}

.menu li .submenu {
    background: #f2f2f2;
    display: none;
    position: absolute;
}

.menu li:hover .submenu {
    display: block;
    /* Display the dropdown */
}

.submenu li {
    display: block;
}

.submenu li a {
    color: blue;
    font-size: 20px;
    text-decoration: none;
}

.animatedAds {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 98.4%;
    height: 500px;
    margin: 2px;
    margin-left: 0px;
    padding: 10px;
    border: 2px solid steelblue;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation-name: adsAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes adsAnimation {
    0% {
        background-image: url(Images/Animation/ani1.jpg)
    }

    20% {
        background-image: url(Images/Animation/ani2.png)
    }

    40% {
        background-image: url(Images/Animation/ani3.jpg)
    }

    60% {
        background-image: url(Images/Animation/ani4.jpg)
    }

    80% {
        background-image: url(Images/Animation/ani5.jpg)
    }
    100% {
        background-image: url(Images/Animation/ani1.jpg)
    }
}

footer {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 20px;
    position: relative;
    bottom: 0%;
    text-align: center;
}